@font-face {
    font-family: "PTSerifRegular";
    src: url("../fonts/PTSerifRegular/PTSerifRegular.eot");
    src: url("../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"),
    url("../fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifBoldItalic";
    src: url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot");
    src: url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.woff") format("woff"),
    url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifItalic";
    src: url("../fonts/PTSerifItalic/PTSerifItalic.eot");
    src: url("../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifItalic/PTSerifItalic.woff") format("woff"),
    url("../fonts/PTSerifItalic/PTSerifItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifBold";
    src: url("../fonts/PTSerifBold/PTSerifBold.eot");
    src: url("../fonts/PTSerifBold/PTSerifBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifBold/PTSerifBold.woff") format("woff"),
    url("../fonts/PTSerifBold/PTSerifBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Quintessential Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quintessential Regular'), url('../fonts/Quintessential-Regular.woff') format('woff');
}